.container {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
    padding: 100px 0;
}

#cake-txt {
    padding: 50px 0;
    padding-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#carousel-container {
    display: block;
    padding: 30px 0;
    padding-left: 50px;
    width: 100%;
    height: 400px;
}

#btn {
    width: auto;
    height: 40px;
    margin-left: 25%;
    margin-right: 25%;
    background: transparent;
  
}

#btn a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    text-decoration: none;
    border-radius: 5px;
    background: #0f0d0e;
    color: antiquewhite;
    text-align: center;
    font-size: 17px;
}

#btn a:hover {
    font-size: 19px;

}

@media (max-width: 760px) {
 
}