#container-slider
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    
}
#slider {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#slider li {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    
}
#slider img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}
#arrowPrev, #arrowNext{
    width: 30px;
    height: 30px;
    background: rgba(214, 204, 204, 0.884);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 2; 

    display: flex;
    align-items: center;
    justify-content: center;
}
#arrowNext {
    left: initial;
    right: 20px;
}
