<section id="contact">
    <div id="contact-img">
        <img src="./assets/imgs/torta.jpg" alt="">
    </div>
    <div id="contact-txt">
        <h2>CONTACTANOS</h2>
        <div class="contact-item">
            <h4>WHATSAPP</h4>
            <a target="_blank"
                href="https://api.whatsapp.com/send/?phone=573116407378">
                ( +57 ) 311 640 7378
            </a>
        </div>
        <div class="contact-item">
            <h4>EMAIL</h4>
            <a target="_blank"
                href="https://www.instagram.com/daliacpasteleriayreposteria/?igshid=MzRlODBiNWFlZA%3D%3D">
                @daliacpasteleriayreposteria
            </a>
        </div>
        <div class="contact-item">
            <h4>INSTAGRAM</h4>
            <a target="_blank"
                href="https://www.instagram.com/daliacpasteleriayreposteria/?igshid=MzRlODBiNWFlZA%3D%3D">
                @daliacpasteleriayreposteria
            </a>
        </div>
        <div class="contact-item">
            <h4>TIKTOK</h4>
            <a target="_blank"
                href="https://www.instagram.com/daliacpasteleriayreposteria/?igshid=MzRlODBiNWFlZA%3D%3D">
                @daliacarvajal9
            </a>
        </div>
    </div>
</section>